body {
    margin-top: 80px;
    padding: 0;
    font-family: 'Open Sans';
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public/snowman3.jpg") no-repeat center;
    background-size: cover;
    background-position: top;
    height: 90vh;
}

.navbar_format {}

.navbar-brand, .navbar-text, .navbar-nav a, .navbar-brand>span {
    color: #fff !important;
    font-weight: bold;
}

.navbar-header {
    /*width: 200px;*/
}

@media (max-width: 767px) {
    .navbar-collapse {
        background: rgba(26, 56, 106, 0.9);
    }
}

.image_logo {
    /*width: 10%;*/
}

.white_text {
  color: #fff;
}

/*  SECRET FORMATS  */

.secret_background {
    background: url("../public/secret.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}


/*  LIST FORMATS  */

.list_outer_box {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.list_inner_box {
    background: rgba(26, 56, 106, 0.7);
    color: #fff;
    margin: 5px;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.list_inner_box:hover {
    background: rgba(30, 64, 123, 0.7);
}

.list_inner_box h4 {
    text-overflow: clip;
    overflow: hidden;
    font-weight: bold;
    min-height: 50px;
}

.list_inner_box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.list_inner_box a {
    text-decoration: none;
}

.num_item_box {
    border-radius: 50%;
    background: #fff;
    padding: 5px 10px;
    font-weight: bold;
    color: #B21617;
}

.delete_button {
    cursor: pointer;
}

.selector_button {
    color: blue;
    cursor: pointer;
}


/*  LIST ITEM FORMATS  */

.item_list_outer_box {
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
    margin: 0 5%;
    min-height: 200px;
}

.item_list_item {
    background: rgba(26, 56, 106, 0.7);
    margin: 5px;
    line-height: 2;
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.item_list_item:hover {
    background: rgba(30, 64, 123, 0.7);
}

.item_list_item h4 {
    text-overflow: clip;
    overflow: hidden;
    font-weight: bold;
}


/*  YELP LISTINGS FORMATS  */

.listing_outer_box {
    padding: 10px;
    text-align: left;
}

.listing_inner_box {
    background: rgba(26, 56, 106, 0.7);
    color: #fff;
    margin: 5px;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.listing_inner_box:hover {
    background: rgba(30, 64, 123, 0.7);
}

.listing_inner_box h4 {
    margin-left: 15px;
    text-overflow: clip;
    overflow: hidden;
    font-weight: bold;
    min-height: 50px;
}

.listing_inner_box img {
    margin-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.listing_inner_box a {
    text-decoration: none;
    color: #fff;
}


/*  MOVIE LIST FORMATS  */

.movie_profile p {
    font-size: 15px;
    text-align: justify;
    padding: 15px;
}

.movie_poster_image {
    width: 35%;
}

input {
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    border-radius: 5px;
}

.movie_heading {
    background: rgba(26, 56, 106, 0.7);
    color: #fff;
    margin: 10px;
    line-height: 1.5;
    padding: 2px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.movie_box {
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.movie_info {
    min-height: 410px;
}

.movie_info h3 {
    min-height: 60px;
}

.movie_search_results {
    background: rgba(26, 56, 106, 0.7);
    color: #fff;
    margin: 10px;
    line-height: 1.5;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.movie_search_results input {
    margin-top: 10px;
}

.movie_list {
    padding: 20px;
}

.movie_profile {
    padding-bottom: 35%;
}

.movie_info button {
    margin: 5px;
    margin-bottom: 10px;
}


/*  HOVER / ANIMATE STYLES  */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*  SCROLLING BACKGROUND  */

.overlay {
    position: fixed;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../public/sf4.jpg");
    -webkit-animation: 200s scroll infinite linear;
    -moz-animation: 200s scroll infinite linear;
    -o-animation: 200s scroll infinite linear;
    -ms-animation: 200s scroll infinite linear;
    animation: 200s scroll infinite linear;
    top: 0;
    left: 0;
    height: 10%;
}

@-webkit-keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}

@-moz-keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}

@-o-keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}

@-ms-keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}

@keyframes scroll {
    100% {
        background-position: 0px 3000px;
    }
}
